<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="premade_vue_script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="vue icon" sizes="32x32" href="https://vuejs.org/images/icons/favicon-32x32.png" />
    <title>What to Pack</title>
    <link rel="stylesheet" type='text/css' href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>

<body>
    <!--  Nav bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" id="what-to-pack-banner" href="index.html">What to Pack</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="custom.html">Custom Packing List</a></li>
                    <li><a href="about.html">About this page</a></li>
                </ul>
            </div>
        </nav>

    <div id="app">
        <div class="text-center container">
            <h1>Pick a premade packing list!</h1>
            <p>Or make your own list on another tab...</p>
            <p>Click on a list item to check it off</p>
            <h3>Premade Lists:</h3>
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option v-for="list in premade_lists" :value="list.data">{{list.label}}</option>
            </select>
            <div v-if="selected!=''">
                <div v-for="(item_list, propertyName) in selected"> <!-- -->
                    <h3>{{ propertyName }}</h3>
                    <ol>
                        <li v-for="(value, propName) in item_list"
                            v-bind:class="[value ? 'done' : 'notdone']"
                            @click="selected.propertyName.propName = !selected.propertyName.propName">
                            {{propName}}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>